body {
    text-align: center;
    background-color:#d0e4fe;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
h1 {
    color:black;
    text-align:center;
}
p {
    font-family: "Times New Roman", sans-serif;
    font-size:20px;
    color: red;
}
form p label {
    width: 80px;
    display: inline-block;
    color: black;
    font-size: 20px;
}
input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}